
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<br />
<p>Thank you for showing interest and posting a search criminal request. You will get an email soon with criminal report(s) in attachment(s).</p>

